coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
compiled
.awcache
.rpt2_cache
node_modules
/packages/**/dist
/packages/**/node_modules
.npmrc
.yarnrc
storybook-static
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
gl-code-quality-report.json
.vscode*
.history
